<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>com.kaichu.targets2here</string>
		
		<key>category</key>
		<string></string>
		
		<key>connections</key>
		<dict>
		</dict>
		<key>createdby</key>
		<string>KAI CHU CHUNG</string>
		<key>description</key>
		<string>Copy or Move targets to Here</string>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>Targets 2 Here</string>
		<key>objects</key>
		<array>
		</array>
		<key>readme</key>
		<string/>
		<key>uidata</key>
		<dict>
		</dict>
		<key>userconfigurationconfig</key>
		<array>
		</array>
		<key>version</key>
		<string>0.1.0</string>
		<key>webaddress</key>
		<string>https://github.com/cage1016/alfred-targets2here</string>
	</dict>
</plist>